*~
\#*#
ABOUT-NLS
aclocal.m4
AUTHORS
autom4te.cache
*.bak
BUGS
compile.pr
config.h.in
configure
configure.scan
COPYING
hold.tar.bz2
.index
*.info
*.info-*
INSTALL
intl/
LICENSES
*.log
LSM
m4/codeset.m4
m4/gettext.m4
m4/glibc21.m4
m4/glibc2.m4
m4/iconv.m4
m4/intdiv0.m4
m4/intldir.m4
m4/intl.m4
m4/intlmacosx.m4
m4/intmax.m4
m4/inttypes_h.m4
m4/inttypes-pri.m4
m4/lcmessage.m4
m4/lib-ld.m4
m4/lib-link.m4
m4/lib-prefix.m4
m4/libtool.m4
m4/lock.m4
m4/longlong.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/nls.m4
m4/po.m4
m4/printf-posix.m4
m4/progtest.m4
m4/size_max.m4
m4/stdint_h.m4
m4/uintmax_t.m4
m4/visibility.m4
m4/wchar_t.m4
m4/wint_t.m4
m4/xsize.m4
Makefile.in
MANUAL
NEWS
NOTES
*.old
po/boldquot.sed
po/de.gmo
po/de.po
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/Makefile.in.in
po/Makevars.template
po/openss7.pot
po/quot.sed
po/remove-potcdate.sin
po/Rules-quot
PROBLEMS
README
README-alpha
README-cvs
README-nexusware
scripts/compile
scripts/config.guess
scripts/config.rpath
scripts/config.sub
scripts/depcomp
scripts/install-sh
scripts/ltmain.sh
scripts/missing
scripts/texinfo.tex
.*.swo
.*.swp
tags
TODO
