[Unit]
Description=Special Shadow Filesystem
Documentation=man:specfs(5)
Conflicts=streams-shutdown.target
Before=dev-streams.mount streams-shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/lib/systemd/specfs start
ExecStop=/lib/systemd/specfs stop

[Install]
RequiredBy=streams.target
